.main-container {
  background-color: #ffffff;
  max-width: 375px;
  height: 812px;
  height: 812px;
}
.content {
  padding-top: -2%;
  padding: 2%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head_icons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.search {
  display: flex;
  justify-content: space-between;
}
.new_york {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6%;
  padding-bottom: 6%;
}
.sub_heading {
  display: flex;
  align-items: center;
}
.img-container {
  position: relative;
  display: inline-block;
}
.img-container img {
  width: 130px;
}
hr {
  border: 1px solid #f1f1f3;
}

.btn {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: #ff2d55;
  border-radius: 5px;
  border: none;
  color: #ffffff;
}
.weather_container {
  background-color: #003339;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10%;
}
.item-1 {
  background-color: #004a53;
  color: #ffffff;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.item {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5%;
}
.additional {
  color: #003339;
  font-size: 18px;
  padding-top: 5%;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.one {
  color: #96969a;
}
.two {
  color: #003339;
}
.last_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.last_container p {
  color: #003339;
  font-size: 18px;
}
.graph {
  width: 100%;
  background-size: cover;
}
